.nav-scroll {
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
}

.nav-scroll::-webkit-scrollbar {
    display: none; /* Chrome */
}

.navbar-nav .nav-link {
    padding: 8px 15px;
    white-space: nowrap;
}
.nav-item :hover {
    color: rgb(85, 85, 161);
}
.navbar {
    border-radius: 30px; /* change value as you like */
    margin: 10px; /*  optional for spacing */
}